<script >
  import Links from '$lib/components/Links.svelte'
</script>

<svelte:head>
  <title>Contact</title>
</svelte:head>


<h1>Contact</h1>

<p>You can send me an e-mail at <a href="mailto:contact@aronfiechter.com">contact@aronfiechter.com</a>.</p>

<Links />
