.youtube-video {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.pagination {
  margin: 0 0 1rem;

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    list-style-type: none;
    gap: 0.5rem;
    margin: 0;
    padding: 0;

    li {
      margin: 0;
    }

    a {
      background: var(--lightAccent);
      text-decoration: none;
      line-height: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2em;
      height: 2em;
      font-family: var(--primaryFont);
      font-weight: bold;
      transition: background .1s;

      &:hover {
        background: var(--accent);
        color: var(--background);
      }

      &[aria-current="true"] {
        background: var(--accent);
        color: var(--background);
        border: 1px solid currentColor;
      }
    }

  }
}