// Breakpoints
$xsMin: 600px;
$xsMax: 767px;
$smMin: 768px;
$smMax: 1023px;
$mdMin: 1024px;
$mdMax: 1279px;
$lgMin: 1280px;
$lgMax: 1439px;
$xlMin: 1440px;
$xlMax: 1679px;
$xxlMin: 1680px;
$xxlMax: 1959px;
$xxxlMin: 1960px;

:root {
  // Colors
  --accent: #E63946;
  --background: #FAF9F8;
  --lightAccent: #CEC1E7;
  --lighterAccent: #E6E8E4;
  --dark: #457B9D;
  --darker: #1D3557;
  --slate: #2F3948;

  --white: #fff;
  --black: #152030;

  --ink: var(--slate);
  --paper: var(--background);
  

  // Fonts
  /**
   * These are broken out into two separate variables from a previous iteration. I left
   * it in because it's nice to be able to split out the heading and body fonts.
   */
  --accentFont: 'Libre Franklin', Georgia, Times, serif; 
  --primaryFont: 'Libre Franklin', sans-serif;
  --codeFont: 'Fira Code', monospace;

  // Base styles
  font-size: 1rem;
  line-height: 1.6;

  @media (min-width: $smMin) {
    font-size: 1.125rem;
  }

  @media (min-width: $lgMin) {
    font-size: 1.25rem;
  }
}