@use './typography';
@use './layout';
@use './components';
@use './header-and-footer';
@use './forms';
@use './animation';
@use './utilities';
@use './code';
@use './prism';
@use './projects';
@use './contact';

*:focus {
  outline: 2px solid var(--accent);
  outline-offset: 2px;
}

main:focus {
  outline: none;
}

body {
  margin: 0;
  min-height: 100vh;
  color: var(--ink);
  font-family: var(--primaryFont);
  background: var(--paper);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}