<script>
	import Icon from 'svelte-awesome';
	import { twitter, linkedin, github, gitlab } from 'svelte-awesome/icons';

	const scale = 3;
</script>

<div class="link-icons">
	<a href="https://twitter.com/AronFiechter">
		<Icon data={twitter} {scale} />
	</a>
	<a href="https://www.linkedin.com/in/aron-fiechter/">
		<Icon data={linkedin} {scale} />
	</a>
	<a href="https://gitlab.com/aronfiechter">
		<Icon data={gitlab} {scale} />
	</a>
	<a href="https://github.com/TiredFalcon">
		<Icon data={github} {scale} />
	</a>
</div>
