<script>
  export let posts = []
</script>


<ul class="posts-list">
  {#each posts as post}
    <li>
      <article>
        <a href="/projects/{post.slug}">
          <img
          src={post.coverImage}
          class="cover-image"
          alt=""
          width={post.coverWidth}
          height={post.coverHeight}
          style="ratio: {post.coverWidth} / {post.coverHeight}"
          />
          <h2>
            {post.title}
          </h2>
        </a>
      </article>

      <p>{post.excerpt}</p>
    </li>
  {/each}
</ul>