<script>
	export let videoId;
</script>

<div class="youtube-video">
	<iframe
		width="100%"
		src="https://www.youtube.com/embed/{videoId}"
		title="YouTube video player"
		frameborder="0"
		allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
		allowfullscreen
	/>
</div>
